BasedOnStyle: LLVM

Language: Cpp

IndentWidth: 2
ContinuationIndentWidth: 4
TabWidth: 2
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Pointer

NamespaceIndentation: None

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

AlignAfterOpenBracket: Align
AlignOperands: Align

ReflowComments: true
